<!-- templates/tasks_manager/base.html -->

{# Load the tag library #}
{% load static %}
{% load bootstrap3 %}
{% load fontawesome %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TODO{% endblock %}</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% fontawesome_stylesheet %}
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" />
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
  </head>
  <body>
    <nav>
      <h3>ETM</h3>
      <div>
        {{user.username}}
        <img src="" alt="user avatar">
      </div>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>